body {
  margin:0;
}
a {
    text-decoration:none;
    color:black;
}
li {
  list-style:none;
}
#headgrid h1 {
  font-size:50px;
  text-align:center;
  padding:20px;
  margin:0;
}
#grid {
  display:grid;
  grid-template-columns:200px 1fr;
  border-bottom: 1px solid black;
}
#grid #list {
  margin:0;
  border-right:1px solid black;
  padding-bottom:30px;
}
#contents {
  padding-left:25px;
}
#headgrid {
  display:grid;
  grid-template-columns:1fr 50px;
  border-bottom: 1px solid black;
}
#grid li {
  padding-left:10px;
}
/* #otherweb {
  border-top: 1px solid black;
  padding-left:40px;
  position: fixed;
  bottom: 0;
} */
